.row {
  width: 100%;
  height: 100%;
  .image {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    img {
      z-index: 99;
      min-width: 200%;
      height: 200%;
      object-fit: cover;
      position: absolute;
      left: -120%;
      top: -50%;
      animation-duration: 3s;
      animation-name: slide-from-left;
    }
  }

  .phrase {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    left: 50%;
    animation-duration: 3s;
    animation-name: zoom-in;

    .text {
      font-size: 32px;
      line-height: 48px;
      font-weight: 500;
    }
  }
}

@keyframes slide-from-left {
  from {
    left: -200%;
    transform: rotate(-45deg);
    opacity: 0.1;
  }
  to {
    left: -120%;
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    opacity: 0.1;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
