<div class="detail-card">
  <mat-card class="example-card">
    <img class="img-card" mat-card-image [src]="country.flags.svg" [alt]="country.flags.alt">
    <mat-card-content class="card-content">
      <h2>{{country.name.common}}</h2>
      <h3>Capital: {{country.capital}}</h3>
      <h3>Region: {{country.region}}</h3>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-button><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"
          fontIcon="favorite_border"></mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>