<div class="container">
  <form class="form-container" [formGroup]="logForm" (ngSubmit)="onSignup()">
    <h1>Sign up</h1>
    <hr>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput formControlName="email" placeholder="pat@example.com" required>
      <div>{{emailValidator()}}</div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <div>{{passwordValidator()}}</div>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!logForm.valid">Sign Up</button>
  </form>
</div>